/* 
    Created on : 6 mars 2017, 12:22:12
    Author     : baptiste thevenet
*/

/***** BEGIN : RESET CSS ****/
*,*:before,*:after{box-sizing:inherit}
html{box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,footer,header,nav,section{display:block}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
img{border-style:none}
svg:not(:root){overflow:hidden}
button,input,select,textarea{font:inherit;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/***** END: RESET CSS *****/

/***** BEGIN : GENERAL *****/
@font-face {
    font-family: adamCgPro;
    src: url(../fonts/adamcg_pro.otf);
}

@font-face {
    font-family: Crimson Text;
    src: url(../fonts/CrimsonText-Roman.ttf);
}

@font-face {
    font-family: Crimson Text;
    src: url(../fonts/CrimsonText-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Crimson Text;
    src: url(../fonts/CrimsonText-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Crimson Text;
    src: url(../fonts/CrimsonText-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
html {
    overflow-x: hidden;
}


html, body {
    width: 100%;
}

body {
    background-color: #000;
    font-family: "Crimson Text", serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: "Mistral", cursive;
    letter-spacing: initial;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 36px;
}

h6 {
    font-size: 32px;
}

img {
    margin-bottom: -5px;
}

a{color:inherit}
/***** END : GENERAL *****/

/***** BEGIN : BTN, BUTTON, SUPER-BTN ****/
.btn, .button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-family: "adamCgPro", sans-serif;
    letter-spacing: initial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .25s;
}

.btn:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.8);
}

.button {
    padding:8px 16px;
}

.btn.theme {
    color: #fff;
    background-color: #bd1521;
}

.btn.theme-inverse {
    color:#bd1521;
    background-color: #fff;
    border: 1px solid;
}

.btn.theme-inverse:hover {
    color: #fff;
    background-color: #bd1521;
}

.btn.theme-gold:hover {
    background-color: #c59411;
}

.super-btn {
    position: relative;
    display: inline-block;
    outline: 0;
    padding: 6px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-family: "adamCgPro", sans-serif;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .25s;
}

.super-btn span:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6px 8px;
    background-color: #bd1521;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
        transform: translateY(100%);
    transition: all .25s;
}

.super-btn:hover span:last-child {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
        transform: translateY(0);
}
/***** END : BTN, BUTTON, SUPER BTN ****/

/***** BEGIN : NAV *****/
.bar {
    width: 100%;
    overflow: hidden;
}

.bar .bar-item {
    padding:8px 16px;
    float:left;
    background-color:inherit;
    color:inherit;
    width:auto;
    border:none;
    outline:none;
    display:block;
}

.bar .dropdown-hover, .bar .dropdown-click {
    position: static;
    float: left;
}

.bar-item {
    width:100%;
    display:block;
    padding:6px 2px 6px 16px;
    text-align:left;
    background-color:inherit;
    color:inherit;
    border:none;
    outline:none;
}

.dropdown-click,.dropdown-hover {
    position:relative;
    display:inline-block;
    cursor:pointer;
    transition: all .25s;
}

.dropdown-hover:hover .dropdown-content {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    z-index:1;
}

.dropdown-hover:first-child,.dropdown-click:hover {
    background-color:#ccc;
    color:#000;
}

.dropdown-hover:hover .button,.dropdown-click:hover .button {
    background-color:#ccc;
    color:#000;
}

.dropdown-content {
    cursor:auto;
    color:#000;
    background-color:#fff;
    position:absolute;
    min-width:160px;
    margin:0;
    padding:0; 
    -webkit-transform: translateX(-150%); 
        -ms-transform: translateX(-150%); 
            transform: translateX(-150%); 
    transition: all .25s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.dropdown-content a {
    padding:6px 16px;
    display:block;
    text-decoration:none!important;
    transition: all .25s;
}

.dropdown-content a:hover {
    background-color:#ccc;
}
/***** END : NAV *****/

.container:after, .container:before, .row:after, .row:before, .row-padding:after, .row-padding:before, .bar:before, .bar:after {
    content:"";
    display:table;
    clear:both;
}

/***** BEGIN : COLUMNS *****/
.row-padding > .col {
    padding: 0 8px;
}

.row-padding > .col:first-child {
    padding-left: 0;
}

.row-padding > .col:last-child {
    padding-right: 0;
}

.col {
    float:left;
    width:100%;
}

.col.s1 {width:8.33333%;}

.col.s2 {width:16.66666%;}

.col.s3 {width:24.99999%;}

.col.s4 {width:33.33333%;}

.col.s5 {width:41.66666%;}

.col.s6 {width:49.99999%;}

.col.s7 {width:58.33333%;}

.col.s8 {width:66.66666%;}

.col.s9 {width:74.99999%;}

.col.s10 {width:83.33333%;}

.col.s11 {width:91.66666%;}

.col.s12 {width:99.99999%;}

@media (min-width:601px) {
    .col.m1 {width:8.33333%;}
    .col.m2 {width:16.66666%;}
    .col.m3,.quarter {width:24.99999%;}
    .col.m4,.third {width:33.33333%;}
    .col.m5 {width:41.66666%;}
    .col.m6,.half {width:49.99999%;}
    .col.m7 {width:58.33333%;}
    .col.m8,.twothird {width:66.66666%;}
    .col.m9,.threequarter {width:74.99999%;}
    .col.m10 {width:83.33333%;}
    .col.m11 {width:91.66666%;}
    .col.m12 {width:99.99999%;}
}

@media (min-width:993px) {
    .col.l1 {width:8.33333%;}
    .col.l2 {width:16.66666%;}
    .col.l3 {width:24.99999%;}
    .col.l4 {width:33.33333%;}
    .col.l5 {width:41.66666%;}
    .col.l6 {width:49.99999%;}
    .col.l7 {width:58.33333%;}
    .col.l8 {width:66.66666%;}
    .col.l9 {width:74.99999%;}
    .col.l10 {width:83.33333%;}
    .col.l11 {width:91.66666%;}
    .col.l12 {width:99.99999%;}
}
/***** END : COLUMNS *****/

/***** BEGIN : RESPONSIVE HELPERS *****/
.hide {display:none!important;}

.show {display:block!important;}

@media (max-width:600px) {
    .hide-small {display:none!important;}
}

@media (min-width:993px) {
    .hide-large {display:none!important;}
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium {display:none!important;}
}
/***** END : RESPONSIVE HELPERS *****/

/***** BEGIN : MISC HELPERS *****/
.left {float:left!important;}.right {float:right!important;}

.adam {
    font-family: "adamCgPro", sans-serif;
    letter-spacing: initial;
}

.large {
    font-size: 24px;
}

.text-theme {
    color: #bd1521;
}
.center{text-align:center!important}
.display-topleft{position:absolute;left:0;top:0}.display-topright{position:absolute;right:0;top:0}
.display-bottomleft{position:absolute;left:0;bottom:0}.display-bottomright{position:absolute;right:0;bottom:0}
.display-middle{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.display-left{position:absolute;top:50%;left:0%;-webkit-transform:translate(0%,-50%);transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.display-right{position:absolute;top:50%;right:0%;-webkit-transform:translate(0%,-50%);transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.display-topmiddle{position:absolute;left:50%;top:0;-webkit-transform:translate(-50%,0%);transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.display-bottommiddle{position:absolute;left:50%;bottom:0;-webkit-transform:translate(-50%,0%);transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}

.w100 {
    width: 100%;
    height: auto;
}

.container {padding:0.01em 16px;}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8), 0 2px 10px rgba(0,0,0,0.6);
}

.hero-image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote span {
    font-size: 150px;
    line-height: 0.6em;
}

.quote p {
    font-style: italic;
    font-size: 24px;
    margin-top: -50px;
    text-indent: 100px;
}
/***** END : MISC HELPERS *****/

/***** BEGIN : ANIMATION HELPERS *****/
.animate-bottom {
    position: relative;
    -webkit-animation: animatebottom 0.4s both;
    animation: animatebottom 0.4s both;
}

@-webkit-keyframes animatebottom {
    from {bottom:-300px;opacity:0;}
    to {bottom:0px;opacity:1;}
}

@keyframes animatebottom {
    from {bottom:-300px;opacity:0;}
    to {bottom:0;opacity:1;}
}

.opacity,.hover-opacity:hover {
    opacity:0.60;
    -webkit-backface-visibility:hidden;
}
.opacity-off,.hover-opacity-off:hover {
    opacity:1;
    -webkit-backface-visibility:hidden;
}
/***** END : ANIMATION HELPERS *****/

/***** BEGIN : INDEX PAGE *****/
#nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    font-family: "adamCgPro", sans-serif;
}

nav .bar {
    height: 100px;
    transition: all .25s;
}

nav .bar.black {
    background-color: #000;
}

nav .bar:hover {
    background-color: #000;
}

nav .bar > * {
    height: 100%;
}

nav .button {
    font-family: adamCgPro;
    height: 100%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff!important;
    transition: color .25s, background-color 0s;
    background-color: transparent!important;
}

nav .button:hover, nav .dropdown-click:hover {
    background-color: transparent!important;
    color: #bd1521!important;
}

nav img {
    height: 100%;
}

.dropdown-content a {
    background-color: rgba(0,0,0,0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 12px 32px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
    transition: all .25s;
}

.dropdown-content a:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#loader {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
    background-color: #bd1521;
    overflow: hidden;
    z-index: 9;
    transition: all .4s ease-in-out;
}

#loader > div {
    margin: auto;
    font-size: 72px;
}

#loader > div > div {
    display: inline-block;
    -webkit-animation-name: dot;
    -webkit-animation-duration: 1.4s;
    -webkit-animation-timing-function: cubic-bezier(0, 1.5, 0, 1.5);
    -webkit-animation-iteration-count: infinite;
    animation-name: dot;
    animation-duration: 1.4s;
    animation-timing-function: cubic-bezier(0, 1.5, 0, 1.5);
    animation-iteration-count: infinite;
}

#loader > div > div:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

#loader > div > div:last-child {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

@-webkit-keyframes dot {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
    75% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}

@keyframes dot {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
    75% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%)
    }
}

#content {
    color: #fff;
    background-color: #0b0020;
    transition: -webkit-filter .8s ease-in-out;
    transition: filter .8s ease-in-out;
    transition: filter .8s ease-in-out, -webkit-filter .8s ease-in-out;
}

#theatre, #theatres, #about, #contact, #legal-notices {
    padding-bottom: 128px
}

#footer {
    color: #fff;
    background-color: #000;
    padding: 0 16px;
    padding-top: 100px;
}

#footer .sitemap {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: 1px solid #bd1521;
}

#footer .sitemap p {
    color: #bd1521;
    text-transform: uppercase;
}

#footer .sitemap a {
    text-decoration: none;
    transition: all .25s;
}

#footer .sitemap a:hover {
    text-decoration: underline;
    color: #bd1521;
}

.social-media {
    width: 50%;
    margin: auto;
}

.social-media a {
    display: block;
    padding: 8px;
}

.social-media a img {
    width: 100%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all .25s;
}

.social-media a:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#footer .informations {
    text-align: center;
}

#footer .informations ul {
    list-style-type: none;
    -webkit-padding-start: 0;
}

#footer .informations ul li {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

#footer .informations li:not(:last-child):after {
    content: '';
    position: relative;
    left: 5px;
    top: -3px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #bd1521;
    font-size: 30px;
    display: inline-block;
}
/***** END : INDEX PAGE *****/

/**** BEGIN : HOME PAGE *****/
#homepage #slideshow {
    min-height: 100vh;
    background-color: #000;
}

#homepage #slideshow .slide {
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: opac 0.8s;
    animation: opac 0.8s;
}

@-webkit-keyframes opac {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes opac {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

#homepage #slideshow .slide .slide-content {
    position: relative;
    top: 30%;
    left: 15%;
    width: 50%;
    color: #fff;
}

#homepage #slideshow .slide .slide-content h2 {
    -webkit-animation: translate 0.4s both;
    animation: translate 0.4s both;
}

#homepage #slideshow .slide .slide-content p {
    font-style: italic;
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
    -webkit-animation: translate 0.4s 0.2s both;
    animation: translate 0.4s 0.2s both;
}

#homepage #slideshow .slide .slide-content a {
    -webkit-animation: translate 0.4s 0.4s both;
    animation: translate 0.4s 0.4s both;
}

@-webkit-keyframes translate {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes translate {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

#homepage #slideshow .indicators {
    height: 20vh;
    background-color: #bd1521;

}

#homepage #slideshow .indicators > * {
    height: 100%;
}

#homepage #slideshow .indicators .indicator {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
}

#homepage #slideshow .indicators .indicator .indicator-content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #fff;
    background-color: #bd1521;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    transition: all .25s;
}

#homepage #slideshow .indicators .indicator:hover .indicator-content {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
        transform: translateY(0%);
}

#homepage #slideshow .indicators .indicator .indicator-content > div {
    margin: auto;
}
/**** END : HOME PAGE *****/

/**** BEGIN : THEATRES PAGE *****/
#theatresNav {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    right: -400px;
    background-color: #000;
    color: #fff;
    font-family: "adamCgPro", sans-serif;
    font-size: 15px;
    transition: all .25s;
    z-index: 9;
}

#theatresNav:hover {
    right: 0;
}

#theatresNav > div {
    padding: 6px 8px;
    cursor: pointer;
    transition: all .25s;
}

#theatresNav > div:not(:last-child) {
    border-bottom: 1px solid #bd1521;
}

#theatresNav > div:hover {
    background-color: #bd1521;
}

#theatresNav .year:after {
    content: '';
    position: relative;
    left: 5px;
    top: -3px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #bd1521;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
}

.theatre-li {
    height: 100vh;
    padding-top: 100px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    transition: opacity .25s ease-in-out;
}

.theatre-li > div {
    width: 75%;
    margin: auto;
}

.theatre-li img {
    width: 75%;
    height: auto;
    float: right;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
}

.theatre-li h2 {
    -webkit-transform: translateX(-48px);
    -ms-transform: translateX(-48px);
        transform: translateX(-48px);
    border-bottom: 1px solid #bd1521;
}

.theatre-li p {
    padding: 0 48px;
}

.theatre-li .actionsBar {
    -webkit-transform: translateX(-48px);
    -ms-transform: translateX(-48px);
        transform: translateX(-48px);
}

.theatre-li .date {
    font-size: 24px;
    font-style: italic;
}
/**** END : THEATRES PAGE *****/

/**** BEGIN : THEATRE PAGE ****/
video {
    background-color: #000;
    width: 100%;
    height: 100vh;
}

#theatre .bar .breadcrumb {
    display: inline-block;
    padding: 6px 16px;
}

#theatre .bar .breadcrumb a {
    text-decoration: none;
    font-size: 40px;
}

#theatre .bar .breadcrumb a:hover {
    color: #bd1521;
}

#theatre .bar .breadcrumb h2 {
    display: inline;
    margin-left: 12px;
}

#theatre .bar .breadcrumb div {
    margin-top: -16px;
    margin-left: 32px;
}

#theatre .characters {
    margin-bottom: 128px;
}

#theatre .characters #slideshow {
    width: 50%;
    margin: auto;
}

#theatre .characters #slideshow .slide {
    overflow: hidden;
    height: 50vh;
    -webkit-animation: opac 0.8s;
    animation: opac 0.8s;
}

#theatre .characters #slideshow .slide .row .col:last-child > * {
    -webkit-transform: translateX(-64px);
    -ms-transform: translateX(-64px);
        transform: translateX(-64px);
}

#theatre .characters #slideshow .slide .row .col img {
    max-width: 100%;
    max-height: 50vh;
    display: block;
    margin-left: auto;
}

#theatre .characters #slideshow .button-slideshow {
    padding-top: 12px;
    text-align: center;
}

#theatre .bigQuote {
    background-color: #bd1521;
    padding-bottom: 64px;
    margin-bottom: 128px;
}

#theatre .bigQuote .quote {
    width: 50%;
    margin: auto;
}

#theatre .bigQuote .quote p {
    font-size: 36px;
    text-align: center;
}

#theatre .bigQuote .quote .source {
    width: 25%;
    margin-left: auto;
    border-top: 1px solid;
    font-family: "adamCgPro", sans-serif;
    text-align: right;
}

#theatre .synopsis {
    width: 75%;
    margin: auto;
    padding: 128px 0;
}

#theatre .synopsis div:last-child {
    padding-left: 48px;
}

#theatre .description p {
    padding-left: 48px;
    padding-right: 48px;
}

#theatre .synopsis, #theatre .characters, #theatre .bigQuote, #theatre .description .top, #theatre .description .middle, #theatre .description .bottom, #theatre .theatre-footer {
    opacity: 0;
}

#theatre .description .top img, #theatre .description .bottom img {
    width: 100%;
}

#theatre .description .middle img {
    display: block;
    position: relative;
    width: 60%;
    margin-left: auto;
    top: -100px;
    z-index: -1;
}

#theatre .description .bottom > div {
    position: relative;
    top: -200px;
}

#theatre .description .bottom > div .col:last-child {
    padding-top: 200px;
}

#theatre .theatre-footer .theatre-footer-img {
    max-width: 600px; 
    margin: auto; 
    z-index: -1;
}

#theatre .theatre-footer .theatre-footer-img img {
    width: 100%;
}

#theatre .theatre-footer .radio-spot {
    margin-top: -256px;
    text-align: center;
}

#theatre .theatre-footer .radio-spot audio {
    width: 25%;
    margin: auto;
}
/***** END : THEATRE PAGE *****/

/***** BEGIN: ABOUT PAGE *****/
#about .hero-image {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-attachment: fixed;
}

#about .hero-image .title {
    margin: auto;
}

#about .tablinks {
    width: 75%;
    margin: auto;
    margin-top: -40px;
    font-family: "adamCgPro", sans-serif;
    background-color: #0b0020;
    text-align: center
}

#about .tablinks .tablink {
    padding: 8px 16px;
    border-bottom: 2px solid #0b0020;
    transition: all .25s;
}

#about .tablinks .tablink:hover {
    color: #bd1521;
}

#about .tablinks .tablink.active {
    border-color: #bd1521;
}

#about .about-content {
    padding-top: 64px;
}

#about .about-content .heading {
    text-align: center;
    opacity: 0;
    width: 50%;
    margin: auto;
}

#about .about-content .article {
    /*display: flex;*/
    padding: 32px;
    opacity: 0;
    /*height: 100vh;*/
}

#about .about-content .article .row {
    width: 75%;
    margin: auto;
}

#about .about-content .article .row .col img {
    width: 100%;
    height: auto;
}

#about .about-content .article .row .col:first-child h3, #about .about-content .article .row .col:first-child p {
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
        transform: translateX(48px);
    text-align: right;
}

#about .about-content .article .row .col:last-child h3, #about .about-content .article .row .col:last-child p {
    -webkit-transform: translateX(-48px);
    -ms-transform: translateX(-48px);
        transform: translateX(-48px);
}

/***** END : ABOUT PAGE *****/

/***** BEGIN: CONTACT PAGE *****/
#contact {
    color: #fff;
    padding-top: 100px;
}

#contact img {
    display: block;
    margin: auto;
    width: 50%;
}

#contact .heading {
    text-align: center;
    font-size: 24px;
}

#contact .social-media {
    width: 20%;
}

#contact .social-media a img {
    width: 100%;
}

#contact form {
    width: 75%;
    margin: auto;
}

#contact form .label {
    font-family: "adamCgPro", sans-serif;
    letter-spacing: initial;
    color: #bd1521;
    opacity: 0;
    transition: all .25s;
}

#contact form .label.visible {
    opacity: 1;
}

#contact .input {
    padding:8px;
    display:block;
    width:100%;
    border: 1px solid transparent;
    border-bottom-color: #808080;
    background-color: transparent;
    color: #fff;
}

#contact .input:focus {
    outline: none;
    border-color: #808080;
}

#contact form textarea {
    height: 150px;
}

#contact .btn {
    padding: 12px 24px;
}
/***** END : CONTACT PAGE *****/

/***** BEGIN : LEGAL NOTICES PAGE *****/
#legal-notices {
    padding: 100px 12px 128px 12px;
    color: #fff;
    text-align: center;
}
/***** END : LEGAL NOTICES PAGE *****/

/***** BEGIN : TABLET RESPONSIVE *****/
@media (max-width:992px) {
    /***** BEGIN : GENERAL ******/
    body {
        /*font-size: 15px;*/
    }

    .animate-bottom {
        position: initial;
        -webkit-animation: none;
                animation: none;
    }

    #about .animate-bottom {
        position: relative;
        -webkit-animation: animatebottom 0.4s both;
        animation: animatebottom 0.4s both;
    }
    /***** END : GENERAL *****/

    /***** BEGIN : INDEX PAGE *****/
    #nav .bar {
        background-color: #000;
    }

    #mobileBar {
        width: 100%;
        background-color: #000;
    }

    #mobileBar > * {
        border-top: 1px solid #bd1521!important;
    }

    #mobileBar .bar-item {
        width:100%;
        display:block;
        padding:6px 2px 6px 16px;
        text-align: center;
        background-color:inherit;
        color:inherit;
        border:none;
        outline:none;
    }

    #mobileBar .dropdown-click {
        width:100%;
    }

    #mobileBar .dropdown-click .dropdown-content {
        display: none;
        min-width:100%;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    #mobileBar .dropdown-click .button {
        width:100%;
        text-align: center;
        background-color:inherit;
        color:inherit;
        padding:6px 2px 6px 16px;
    }
    
    #loader {
        margin-top: 36px;
    }

    #footer .sitemap {
        width: 100%;
    }
    /***** END : INDEX PAGE *****/

    #theatre, #theatres, #about, #contact, #legal-notices {
        margin-top: 64px;
        padding-bottom: 64px;
    }

    /***** BEGIN : THEATRE PAGE *****/
    video {
        height: auto;
        margin-top: 100px;
    }

    #theatre .bar .breadcrumb h2 {
        font-size: 48px;
    }

    #theatre .bar .bar-item {
        float: none!important;
    }

    #theatre .bar .bar-item > a {
        width: 100%;
    }

    #theatre .synopsis, #theatre .characters, #theatre .bigQuote, #theatre .description .top, #theatre .description .middle, #theatre .description .bottom, #theatre .theatre-footer {
        opacity: 1;
    }

    #theatre .synopsis {
        width: 90%;
    }

    #theatre .synopsis div:last-child {
        padding-left: 8px;
    }

    #theatre .characters #slideshow {
        width: 90%;
    }

    #theatre .characters #slideshow .slide {
        height: auto;
    }

    #theatre .characters #slideshow .slide .row .col img {
        max-height: 250px;
        margin-right: auto;
    }

    #theatre .characters #slideshow .slide .row .col:last-child > * {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    #theatre .characters #slideshow .slide .row .col h4, #theatre .characters #slideshow .slide .row .col div {
        text-align: center;
    }

    #theatre .bigQuote .quote {
        width: 75%;
    }

    #theatre .bigQuote .quote p {
        font-size: 24px;
    }

    #theatre .bigQuote .quote .source {
        min-width: 50%;
    }

    #theatre .description .top .row-padding > .col {
        padding-left: 24px;
        padding-right: 24px;
    }

    #theatre .description .middle img {
        position: static;
        top: 0;
        width: 75%;
    }

    #theatre .description .bottom > div {
        position: static;
        top: 0;
    }

    #theatre .description .bottom .row-padding > .col {
        padding: 0;
    }

    #theatre .description .bottom > div .col:last-child {
        padding-top: 0;
    }

    #theatre .theatre-footer .radio-spot {
        margin-top: -128px;
    }

    #theatre .theatre-footer .radio-spot audio {
        width: 90%;
    }

    #theatre .theatre-footer .bar a {
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 24px;
    }
    /***** END : THEATRE PAGE *****/

    /***** BEGIN : THEATRES PAGE *****/
    #theatresNav {
        display: none;
    }

    .theatre-li {
        height: auto;
    }

    .theatre-li > div {
        width: 90%;
    }

    .theatre-li img {
        width: 100%;
    }

    .theatre-li h2 {
        font-size: 48px;
        line-height: 1;
    }

    .theatre-li p {
        padding: 0 0 0 12px;
        font-size: 15px;
    }

    .theatre-li .actionsBar a {
        font-size: 15px;
    }
    /***** END : THEATRES PAGE *****/

    /***** BEGIN : ABOUT PAGE *****/
    #about .tablinks {
        width: 100%;
        /*margin-top: -126px;*/
    }

    #about .about-content .heading {
        width: 75%;
    }

    #about .about-content .article {
        padding: 0;
        padding-bottom: 128px;
    }

    #about .about-content .article .row {
        width: 90%;
    }

    #about .about-content .article .row .col h3 {
        /*font-size: 48px;*/
        line-height: 1;
    }

    #about .about-content .article .row .col p {
        /*font-size: 15px;*/
    }

    #about .about-content .article .row .col:first-child h3, #about .about-content .article .row .col:first-child p, #about .about-content .article .row .col:last-child h3, #about .about-content .article .row .col:last-child p {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    /***** END : ABOUT PAGE *****/

    /***** BEGIN : CONTACT PAGE *****/
    #contact .social-media {
        width: 75%;
    }

    #contact form .row-padding > .col {
        padding: 0;
        margin: 1em 0;
    }

    #contact .btn {
        width: 100%;
    }
    /***** END : CONTACT PAGE *****/
}
/***** END : TABLET RESPONSIVE *****/

/***** BEGIN : MOBILE RESPONSIVE *****/
@media (max-width:600px) {
    body {
        font-size: 15px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 36px;
    }

    h5 {
        font-size: 34px;
    }

    h6 {
        font-size: 24px;
    }

    .large {
        font-size: 18px;
    }

    p {
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
    }
    
    #loader {
        margin-top: 68px;
    }

    #footer {
        padding-top: 32px;
    }

    #footer .informations li:not(:last-child):after {
        content: none;
    }

    /***** BEGIN : HOME PAGE *****/
    #homepage #slideshow .slide {
        height: 100vh;
    }

    #homepage #slideshow .slide .slide-content {
        width: 100%;
        left: 0;
        padding-left: 12px;
    }

    #homepage #slideshow .slide .slide-content h2 {
        line-height: 1;
    }

    #homepage #slideshow .btn {
        top: 90%;
    }

    #homepage #slideshow .indicators {
        display: none;
    }
    /***** END : HOME PAGE *****/

    #theatre, #theatres, #about, #contact, #legal-notices {
        margin-top: 32px;
        padding-bottom: 32px;
    }

    /***** BEGIN : THEATRE PAGE *****/
    #theatre .bar .breadcrumb {
        padding: 0;
    }

    #theatre .bar .breadcrumb h2 {
        font-size: 40px;
    }

    #theatre .synopsis {
        padding: 32px 0;
    }

    #theatre .characters {
        margin-bottom: 32px;
    }

    #theatre .characters #slideshow {
        max-height: 100vh;
    }

    #theatre .characters #slideshow .slide .row .col img {
        max-height: 150px;
    }

    #theatre .characters #slideshow .slide .row .col h4 {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    #theatre .bigQuote {
        margin-bottom: 32px;
    }

    #theatre .bigQuote .quote p {
        font-size: 18px;
    }

    #theatre .description p {
        padding-left: 12px;
        padding-right: 12px;
    }
    /***** END : THEATRE PAGE *****/

    /***** BEGIN : THEATRES PAGE *****/
    .theatre-li h2, .theatre-li .actionsBar {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    /***** END : THEATRES PAGE *****/
    
    /***** BEGIN : ABOUT PAGE *****/
    #about .about-content {
        padding-top: 32px;
    }
    
    #about .about-content .heading {
        width: 90%;
    }
    
    #about .about-content .article {
        padding-bottom: 32px;
    }
    /***** END : ABOUT PAGE *****/
    
    /***** BEGIN : CONTACT PAGE *****/
    #contact form {
        width: 100%;
    }
    /***** END : CONTACT PAGE *****/
}
/***** END : MOBILE RESPONSIVE *****/