/* 
    Created on : 6 mars 2017, 12:22:12
    Author     : baptiste thevenet
*/
@font-face {
    font-family: adamCgPro;
    src: url(../fonts/adamcg_pro.otf);
}

@font-face {
    font-family: Crimson Text;
    src: url(../fonts/CrimsonText-Roman.ttf);
}

@font-face {
    font-family: Crimson Text;
    src: url(../fonts/CrimsonText-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Crimson Text;
    src: url(../fonts/CrimsonText-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Crimson Text;
    src: url(../fonts/CrimsonText-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

html, body {
    width: 100%;
}

body {
    background-color: #000;
    font-family: "Crimson Text", serif;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5 {
    letter-spacing: initial;
}

.w3-row-padding {
    padding: 0px;
}

.w3-row-padding > .w3-col {
    padding: 0 8px;
}

.w3-row-padding > .w3-col:first-child {
    padding-left: 0;
}

.w3-row-padding > .w3-col:last-child {
    padding-right: 0;
}

.adam {
    font-family: "adamCgPro", sans-serif;
    letter-spacing: initial;
}

.text-theme {
    color: #bd1521;
}

.w100 {
    width: 100%;
    height: auto;
}

.section {
    padding-bottom: 12px;
    padding-top: 12px;
}

.quote span {
    font-size: 150px;
    line-height: 0.6em;
}

.quote p {
    font-style: italic;
    font-size: 24px;
    margin-top: -50px;
    text-indent: 100px;
}

.w3-btn {
    font-family: "adamCgPro", sans-serif;
    letter-spacing: initial;
}

.w3-btn.theme {
    color: #fff;
    background-color: #bd1521;
}

.w3-btn.theme-inverse {
    color:#bd1521;
    background-color: #fff;
    border: 1px solid;
}

.w3-btn.theme-inverse:hover {
    color: #fff;
    background-color: #bd1521;
}

.w3-label {
    font-family: "adamCgPro", sans-serif;
    letter-spacing: initial;
}

.animate-bottom {
    position: relative;
    -webkit-animation: animatebottom 0.4s both;
    animation: animatebottom 0.4s both;
}

.animate-top {
    position: relative;
    -webkit-animation: animatebottom 0.4s both;
    animation: animatebottom 0.4s both;
}

#nav {
    font-family: "adamCgPro", sans-serif;
}

nav .w3-bar {
    height: 100px;
    transition: all .25s;
}

nav .w3-bar.black {
    background-color: #000;
}

nav .w3-bar:hover {
    background-color: #000;
}

nav .w3-bar > * {
    height: 100%;
}

nav .w3-button {
    font-family: adamCgPro;
    height: 100%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff!important;
    transition: color .25s, background-color 0s;
    background-color: transparent!important;
}

nav .w3-button:hover, nav .w3-dropdown-click:hover {
    background-color: transparent!important;
    color: #bd1521!important;
}

nav img {
    height: 100%;
}

.w3-dropdown-content a {
    background-color: rgba(0,0,0,0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 12px 32px;
    filter: grayscale(50%);
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
    transition: all .25s;
}

.w3-dropdown-content a:hover {
    filter: grayscale(0%);
}

#loader {
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
    background-color: #bd1521;
    overflow: hidden;
    z-index: 9;
    transition: all .4s ease-in-out;
}

#loader > div {
    margin: auto;
    font-size: 72px;
}

#loader > div > div {
    display: inline-block;
    animation-name: dot;
    animation-duration: 1.4s;
    animation-timing-function: cubic-bezier(0, 1.5, 0, 1.5);
    animation-iteration-count: infinite;
}

#loader > div > div:nth-child(2) {
    animation-delay: .2s;
}

#loader > div > div:last-child {
    animation-delay: .4s;
}

@keyframes dot {
    0% {
        transform: translateY(0)
    }
    25% {
        transform: translateY(10px)
    }
    75% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0%)
    }
}

#content {
    background-color: #0b0020;
    transition: filter .8s ease-in-out;
}

.animate-opacity {
    -webkit-animation: opac 0.4s both;
    animation: opac 0.4s both;
}

.slideshow {
    min-height: 100vh;
    background-color: #000;
}

.slide {
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: opac 0.8s;
    animation: opac 0.8s;
}

@keyframes opac {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.slide-content {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 50%;
    color: #fff;

}

.slide-content h2 {
    -webkit-animation: translate 0.4s;
    animation: translate 0.4s both;
}

.slide-content p {
    -webkit-animation: translate 0.4s;
    animation: translate 0.4s 0.2s both;
}

.slide-content a {
    -webkit-animation: translate 0.4s;
    animation: translate 0.4s 0.4s both;
}

@keyframes translate {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.slide-content p {
    font-style: italic;
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
}

.indicators {
    height: 20vh;
    background-color: #bd1521;

}

.indicators > * {
    height: 100%;
}

.indicator {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
}

.indicator .indicator-content {
    display: flex;
    color: #fff;
    background-color: #bd1521;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: all .25s;
}

.indicator:hover .indicator-content {
    transform: translateY(0%);
}

.indicator .indicator-content > div {
    margin: auto;
}

footer {
    color: #fff;
    background-color: #000;
    padding: 0 16px;
    padding-top: 100px;
}

.sitemap {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: 1px solid #bd1521;
}

.sitemap p {
    color: #bd1521;
    text-transform: uppercase;
    font-size: 18px;
}

.sitemap a {
    text-decoration: none;
    transition: all .25s;
}

.sitemap a:hover {
    text-decoration: underline;
    color: #bd1521;
}

.informations {
    text-align: center;
}

.informations ul {
    list-style-type: none;
}

.informations ul li {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.informations li:not(:last-child):after {
    content: '';
    position: relative;
    left: 5px;
    top: -3px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #bd1521;
    font-size: 30px;
    display: inline-block;
}

video {
    background-color: #000;
    width: 100%;
    height: 100vh;
}

#theatre {
    color: #fff;
}

#theatre .w3-bar .breadcrumb {
    display: inline-block;
    padding: 6px 16px;
}

#theatre .w3-bar .breadcrumb a {
    text-decoration: none;
    font-size: 40px;
}

#theatre .w3-bar .breadcrumb a:hover {
    color: #bd1521;
}

#theatre .w3-bar .breadcrumb h2 {
    display: inline;
    margin-left: 12px;
}

.synopsis {
    opacity: 0;
    width: 75%;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.synopsis div:last-child {
    padding-left: 48px;
}

#theatre .description p {
    padding-left: 48px;
    padding-right: 48px;
}

#theatre .description .top, #theatre .description .middle, #theatre .description .bottom {
    opacity: 0;
}

#theatre .description .top img, #theatre .description .bottom img {
    width: 100%;
}

#theatre .description .middle img {
    display: block;
    position: relative;
    width: 60%;
    margin-left: auto;
    top: -100px;
    z-index: -1;
}

#theatre .description .bottom > div {
    position: relative;
    top: -200px;
}

#theatre .description .bottom > div .w3-col:last-child {
    padding-top: 200px;
}

.radio-spot {
    text-align: center;
}

.radio-spot audio {
    width: 25%;
    margin: auto;
}

.contact {
    color: #fff;
    padding-top: 100px;
    padding-bottom: 12px;
}

.contact img {
    display: block;
    margin: auto;
    width: 50%;
}

.contact .heading {
    text-align: center;
    font-size: 18px;
}

.contact form {
    width: 75%;
    margin: auto;
}

.contact form .w3-label {
    color: #bd1521;
    opacity: 0;
    transition: all .25s;
}

.contact form .w3-label.visible {
    opacity: 1;
}

.contact .w3-input {
    border: 1px solid transparent;
    border-bottom-color: #808080;
    background-color: transparent;
    color: #fff;
}

.contact .w3-input:focus {
    outline: none;
    border-color: #808080;
}

.contact form textarea {
    height: 150px;
}

.contact .w3-btn {
    padding: 12px 24px;
}

.legal-notices {
    padding-top: 100px;
    color: #fff;
    text-align: center;
}
